.App .container {
  text-align: center;
  max-width: 500px;
  background: transparent;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
  display: block;
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 35px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(60deg);
  }
}

.App .Footer {
  color: rgb(41, 41, 41);
  text-align: center;
  font-size: 10px;
  margin: 3px auto;
  padding: 12px;
}

.App .card1 {
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
}
