.App .container {
  max-width: 800px;
  background: transparent;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
  display: block;
  margin-left: 8px;
  margin-right: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(60deg);
  }
}
.App h1 {
  color: rgb(65, 15, 15);
}

.App .Footer {
  color: rgb(41, 41, 41);
  text-align: center;
  font-size: 13px;
}

.App .card2 {
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
}
.App a {
  color: brown;
}
